# build artifacts
composer.phar
# always let them build their own latest
composer.lock
build/
cache.properties
vendor/
# backups
*.bak
*~
# Project files
*.sublime-project
*.sublime-workspace
# Other files
_blogpostExtras/
#
# add more as appropriate
#   Doc generator, https://github.com/fabpot/Sami
.sami-cache/
